body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    margin: 40px;
    line-height: 1.2;
    min-height: 100vh;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Garamond;
    font-style: italic;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FF0D86;
}

p {
    max-width: 1000px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px dotted;
    padding: 20px 0;
  }
  
.post-image {
    width: 240px;
    height: 135px;
    object-fit: cover;
    margin-right: 15px;
}

.about-image {
    width: 240px;
    height: 135px;
    object-fit: cover;
    margin-bottom: 20px;
}

.header {
    font-style: italic;
    font-family: Garamond;
    font-size: 18px;  
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu a {
    margin-left: 15px;
}

.image-row {
    display: flex;
    gap: 40px;
    justify-content:left;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.image-row img {
    width: 240px;
    height: 320px;
    object-fit: cover;
    flex-shrink: 0;
}